<launch>

        <arg name="final_offset" default="0.1"/>
        <arg name="nb_scans_init" default="100"/>


<node name="sick_proc" pkg="static_laser_tools" name="closest_point" output="screen"> 
        <arg name="final_offset" value="$(arg final_offset)"/>
        <arg name="nb_scans_init" value="$(arg nb_scans_init)"/>
</node>

</launch>

